The purpose of this notebook is to check that all the scripts/excel files are giving the same results.

In [16]:
import pandas as pd

In [17]:
output_R_directory = "./example_data/output_R/"
output_Python_directory = "./example_data/output_Python/"
output_Excel_directory = "./example_data/output_Excel/"

Test the R script matches the Python outputs

In [18]:
outputs = ("cat_12001","cat_33035","cat_39001","cat_44008")
for output in outputs:
    print(output)
    R_output = pd.read_csv(f"{output_R_directory}{output}.csv")
    #R_output.rename(columns={"rankperc":"weibell_rank"}, inplace=True)
    Python_output = pd.read_csv(f"{output_Python_directory}{output}.csv")
    #print(R_output.compare(Python_output))
    #Python_output.drop(columns='weibell_rank', inplace=True)
    #R_output.drop(columns='weibell_rank', inplace=True)
    assert R_output.equals(Python_output)
    print()

cat_12001

cat_33035

cat_39001

cat_44008

In [47]:
outputs = ("cat_12001","cat_33035","cat_39001","cat_44008")
for output in outputs:
    print(output)
    R_output = pd.read_csv(f"{output_R_directory}{output}.csv")
    R_output.rename(columns={'rankperc':'weibell_rank'}, inplace = True)
    Python_output = pd.read_csv(f"{output_Python_directory}{output}.csv")
    #print(R_output.compare(Python_output))
    Python_output.drop(columns='weibell_rank', inplace=True)
    R_output.drop(columns='weibell_rank', inplace=True)
    #assert R_output.equals(Python_output)
    print()

cat_12001

cat_33035

cat_39001

cat_44008

Finally test that the R/Python outputs match the excel outputs

In [42]:
outputs = ("cat_12001","cat_39001")
encoding = {'Low flow':1,'Below normal':2,'Normal range':3,'Above normal':4,'High flow':5}
for output in outputs:
    print(output)
    R_output = pd.read_csv(f"{output_R_directory}{output}.csv")
    Excel_output = pd.read_excel(f"{output_Excel_directory}{output}.xlsx", sheet_name='Test')
    Excel_output.columns = ['date','flowcategory']
    for i in Excel_output.index:
        Excel_output.loc[i,'flowcat'] = encoding[Excel_output.loc[i,'flowcategory']]
    Excel_output['flowcat'] = Excel_output['flowcat'].astype('Int64')
    Excel_output.drop(columns='flowcategory', inplace=True)

cat_12001
cat_39001

In [43]:
Excel_output

          date  flowcat
0   1965-01-01        2
1   1965-02-01        1
2   1965-03-01        2
3   1965-04-01        2
4   1965-05-01        2
..         ...      ...
679 2021-08-01        3
680 2021-09-01        3
681 2021-10-01        4
682 2021-11-01        3
683 2021-12-01        3

[684 rows x 2 columns]

In [36]:
i

683

In [34]:
Excel_output

          date  flowcategory  flowcat
0   1965-01-01  Below normal        3
1   1965-02-01      Low flow        3
2   1965-03-01  Below normal        3
3   1965-04-01  Below normal        3
4   1965-05-01  Below normal        3
..         ...           ...      ...
679 2021-08-01  Normal range        3
680 2021-09-01  Normal range        3
681 2021-10-01  Above normal        3
682 2021-11-01  Normal range        3
683 2021-12-01  Normal range        3

[684 rows x 3 columns]

{'Low flow': 1,
 'Below normal': 2,
 'Normal range': 3,
 'Above normal': 4,
 'High flow': 5}